{% extends 'base.html' %} {%block title%} User Detail {% endblock %} {% block
content %}
<div class="m-3">
  <p>{{tag.name}}</p>
  <p class="font-weight-light">Related Posts:</p>
  <ul>
    {% for post in tag.posts %}
    <li><a href="/posts/{{ post.id }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <a href="/tags/{{tag.id}}/edit"
    ><button class="btn btn-primary">Edit</button></a
  >
  <a href="/tags/{{tag.id}}/delete"
    ><button class="btn btn-danger">Delete</button></a
  >
</div>
{% endblock %}
