{% extends 'base.html' %} {%block title%} User Detail {% endblock %} {% block
content %}
<div class='m-2'>
    <h2>Add Post for {{user.first_name}} {{user.last_name}}:</h2>
<form method="POST"> 
    <p> Title: <input type='text', name='title'>{{title}}</input></p>
    <p> Post Content: <input type='text', name='content'>{{content}}</input></p>
    <a href="/users/{{user.id}}" class="btn btn-danger">Cancel</a>
    <button href="/users/{{user.id}}/posts/new" class="btn btn-success">Add</button>
</form>
</div>
  {% endblock %}
