{% extends 'base.html' %} {%block title%} User Detail {% endblock %} {% block
content %}
<div>
  <img src="{{user.image_url}}" />
  <h1>{{user.first_name}} {{user.last_name}}</h1>
  <a href="/users/{{user.id}}/edit"
    ><button class="btn btn-success ml-2">Edit</button></a
  >
  <a href="/users/{{user.id}}/delete"
    ><button class="btn btn-danger">Delete</button></a
  >
  <div>
    <p>
      <a href="/users/{{user.id}}/posts/new"
        ><button class="btn btn-info m-2">Add Post</button></a
      >
    </p>
    <i class="m-2">Posts:</i>
    <ul>
      {% for post in user.posts %}
      <li>
        <a href="/posts/{{ post.id}}">{{ post.title }}</a>
        <small>{{ post.created_at }}</small>
      </li>
      {% endfor %}
    </ul>
  </div>
  <hr />
  <a href="/"> <button class="btn btn-primary ml-2">Go Back</button></a>
</div>

{% endblock %}
